.tasks {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 15px;
  background-color: rgb(227, 230, 233);
  border-radius: 8px;
}

.noTask {
  text-align: center;
  font-weight: bolder;
  padding: 10px;
  color: rgb(15, 139, 194);
  border: 2px solid rgb(10, 78, 107);
  border-radius: 10px;
  width: 85%;
  margin: auto;
}
