.task {
  background-color: rgb(15, 139, 194);
  padding: 10px 15px;
  border-radius: 6px;

  h3 {
    color: rgb(11, 9, 10);
    font-weight: bolder;
  }
  &:hover {
    background-color: rgb(14, 130, 185);
  }
}
